<!DOCTYPE html>
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='/css/reset.css')
        link(rel='stylesheet', href='/css/styles.css')
        title #{name} a bot
    body
        header
            h1 Hi, I'm #{name}!
            h2 A bot like any other

        content
            h3 Wanna hear something important?
            p #{joke}

        footer
            p Made with S2 by Dudu 