.wrapper {
    background-color: lightgray;
    font-family: sans-serif;
}

.hidden {
    display: none;
}

.header {
    width: 100%;
    height:  calc(100vh - 50px);
    color: #323b5b;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;
}

.header > .nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    width: 100%;
    height: 50px;
    background-color: #323b5b;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header > .nav > .logo {
    /* width: 100px; */
    height: 100%;
    margin-left: 20px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header > .nav > .logo a {
    width: 100%;
    height: 100%;
    display: block;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 0 10px 0 10px;
    text-decoration: none;
    color: lightgray;
    font-weight: bold;
}

.header > .nav > .logo a:hover {
    color: lightgray;
}

.header > .avatar {
    width: 250px;
    height: 110px;

    margin-bottom: 30px;

    border-radius: 50%;
    overflow: hidden;

    transition: height .5s ease, background-color .5s .3s ease-out;
}

.header > .avatar:hover {
    height: 250px;
    background-color: orange;
}

.header > .avatar > .avatarImage {
    width: 100%;
}

.header > .backgroundImage {
    position: absolute;
    top: 50px;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header > h1 {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 20px;

    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

.header > h2 {
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}


.content {
    width: 100%;
    height: calc(100vh - 50px);
    background-color: orange;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content > .scroll {
    position: absolute;
    top: 5px;

    display: flex;
    flex-direction: column;
}

.content > .scroll > .scrollIcon {
    animation: animateOpacity 0.5s linear 0s infinite alternate;
}

@keyframes animateOpacity {
    from {opacity: 0;}
    to {opacity: 1;}
}

.content > .scroll > .arrowIcon {
    animation: animateTranslation 0.5s linear 0s infinite alternate;
}

@keyframes animateTranslation {
    from {transform: translateY(0px);}
    to {transform: translateY(-3px);}
}

.content > .infoContainer {
    width: 70%;
}

.content > .infoContainer > .info {
    margin-bottom: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content > .infoContainer > .info > h3 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;

    color: #323b5b;
}

.content > .infoContainer > .info > p {
    color: #323b5b;
    text-align: center;
}


.botConversationContainer {
    position: fixed;
    bottom: 0;
    right: 0;

    margin: 10px;

    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-end;
}

.botConversationContainer > .chatButton {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    box-shadow: none;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.botConversationContainer > .chatButton > img {
    width: 75px;
    height: 75px;
    z-index: 1;
}

.botConversationContainer > .chatContainer {
    position: relative;
    background: white;
    border-radius: .4em;
    z-index: 2;

    margin-bottom: 10px;
    margin-right: -5px;
}

.botConversationContainer > .chatContainer:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 20px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-left-color: white;
    border-right: 0;
    margin-top: -10px;
    margin-right: -10px;
    z-index: 2;
}

.botConversationContainer > .chatContainer .hide {
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
}

.botConversationContainer > .chatContainer > p {
    width: 150px;
    height: 40px;

    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.botConversationContainer > .chatContainer > div {
    position: relative;
    background-color: white;

    border-radius: 20px;
    position: relative;

    transition: all 1s .5s ease;
}

.botConversationContainer > .chatContainer > div > .iframeContainer {
    width: 350px;
    height: 320px;

    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.botConversationContainer > .chatContainer > div > .iframeContainer > iframe {
    position: absolute;
    bottom: 0;
    right: 0;

    width: 350px;
    height: 430px;
}


.footer {
    width: 100%;
    height: 30px;
    background-color: #323b5b;

    font-size: 12px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer > p {
    color: lightgrey;
}

.footer > p > span {
    color: orange;
}

.footer > p > a {
    color: lightgray;
    /* text-decoration: none; */
}